{% extends 'base.html.twig' %}

{% block body %}

<h1><center> Les utilisateurs </h1></center>
<p><table border='1' width='100%'>



<tr>
    <th>Numero</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Adresse</th>
    <th>Code Ville</th>
    <th>Tel</th>

</tr>


{% for cli in clients %}

<tr>    
    <th>{{cli.NUMERO}}</th>
    <th>{{cli.NOM}}</th>
    <th>{{cli.PRENOM}}</th>
    <th>{{cli.ADRESSEC}}</th>
    <th>{{cli.CODEVILLEC}}</th>
    <th>{{cli.TELC}}</th>

</tr>

{% endfor %}


{% endblock %}

